<h5 class="text-center mt-3 mb-3 font-weight-bold text-light" > Profesores</h5>
<div *ngIf="formulario">
    <form (ngSubmit)="agregarProfesor()" class="mt-1 p-2 d-flex justify-content-center flex-wrap flex-column">
        <h5 class="mx-auto mb-2 text-light font-weight-bold">Agregar Nuevo Profesor</h5>
        <div class="col-12 d-flex justify-content-center flex-wrap">
            <input [(ngModel)]="nombreInput" class="mx-auto mb-3 col-2 form-control" name="nombre" type="text" placeholder="Nombre">
            <input [(ngModel)]="apellidoInput" class="mx-auto mb-3 col-2 form-control" name="apellido" type="text" placeholder="Apellido">
            <input [(ngModel)]="telefonoInput" class="mx-auto mb-3 col-2 form-control" name="telefono" type="text" placeholder="Telefono">
            <input [(ngModel)]="correoInput" class="mx-auto mb-3 col-2 form-control" name="correo" type="text" placeholder="Correo">
            <input [(ngModel)]="direccionInput" class="mx-auto mb-3 col-2 form-control" name="direccion" type="text" placeholder="Direccion">
            <input [(ngModel)]="ciInput" class="mx-auto mb-3 col-2 form-control" name="ci" type="text" placeholder="Cedula de identidad">
            <input [(ngModel)]="salarioInput" class="mx-auto mb-3 col-2 form-control" name="salario" type="number" placeholder="Salario">
        </div>
       <div class="d-flex justify-content-around col-7 mx-auto mt-3">
            <a class="btn btn-dark col-3 mx-auto"
                    (click)="ocultarFormulario()"
            >Volver sin agregar</a>
            <button type="submit" class="btn btn-primary col-3 mx-auto font-weight-bold">Guardar</button>
        </div>
    </form>
</div>
<a class="btn btn-primary font-weight-bold float-right mr-4 mb-4"
 (click)="mostrarFormulario()">Agregar Nuevo</a>
        <div class="contenedorTabla m-auto col-12 d-flex justify-content-center flex-wrap flex-column overflow-auto">
            <table class="text-light table table-hover overflow-auto">
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>C.I.</th>
                    <th>Salario</th>
                </tr>
                <tr *ngFor="let profesor of profesores; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ profesor.nombre }}</td>
                    <td>{{ profesor.apellido }}</td>
                    <td>{{ profesor.telefono }}</td>
                    <td>{{ profesor.correo }}</td>
                    <td>{{ profesor.direccion }}</td>
                    <td>{{ profesor.ci }}</td>
                    <td>{{ profesor.salario }}</td>
                </tr>
            </table>
        </div>

