<div class="contenedorDeFlujo container-fluid p-0 overflow-auto">
    <header class="header row d-flex justify-content-around m-auto">
        <div class="mt-1 mb-1 left col-12 col-sm-3 d-flex justify-content-center
         align-items-center">
            <h5 class="font-weight-bold text-light m-auto">Escuela de natación</h5>
        </div>
        <div class="btn-group btn-group-sm right col-12
         col-sm-9 d-flex justify-content-evenly 
         align-items-center flex-wrap mt-1 mb-1" role="group" >
            <a href="./alumnos-mayores" class="boton font-weight-bold btn btn-primary m-1">
                Alumnos Mayores
            </a>
            <a href="./alumnos-menores" class="boton font-weight-bold btn btn-info m-1">
                Alumnos Menores
            </a>
            <a href="./profesores" class="boton font-weight-bold btn btn-primary m-1">
                Profesores
            </a>
            <a href="./horario" class="boton font-weight-bold btn btn-info m-1">
                Horarios
            </a>
            <a href="./representantes" class="boton font-weight-bold btn btn-primary m-1">
                Representantes
            </a>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>
